body {
    font-size: 14px;
    /*font-family: Arial,Helvetica Neue,Helvetica,sans-serif;*/
    font-family: SolaimanLipi,Arial,Vrinda,FallbackBengaliFont,Helvetica,sans-serif;

}
hr {
    background: #ccc;
}
.main_logo {
    padding-bottom: 15px;
}
.nopad {padding:0px;}
.onmar {margin: 0px;}
.wrapper {
    margin: 0 auto;
    max-width: 1040px;
}
.header_top {
    background: #ede4d3 none repeat scroll 0 0;
    border-bottom: 1px solid #ebd9c3;
    border-top: 1px solid #ebd9c3;
}

.header_top ul {
    margin: 0px;
    padding: 0px;
}
.header_top ul li{
    border-right: 1px solid #e3d3c0;
    line-height: 24px;
    padding: 0 10px;
    text-align: left;
    isplay: block;
    background: #fff;
}
.header_top ul li a {
    font-size: 14px;
    color: green;
}
.date-today {
    padding: 0px;
    font-weight: 500;
}



.srcWrapper span#srcBtn input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #000;
    font-size: 11px;
    vertical-align: top;
}
.srcWrapper span#textBtn input {
    border: medium none;
    color: #000;
    float: right;
    font-size: 12px;
    height: 16px;
}
.scl-img-wrraper {
    margin-top: 3px;
    padding: 0px;
}
.scl-img-wrraper img {
    margin-left: 5px;
}
.main_header {
    background: #eedbb3 none repeat scroll 0 0;
    padding:15px 0 0 0;
}
.add_img img{
    margin-top: 15px;
}
.item-main-menu {
    background: #e18719 none repeat scroll 0 0;
}
.main-content {
    background: #FAF9F9 none repeat scroll 0 0;
}
.newsImgLeftFloat {
    float: left; 
    margin-right: 10px;
}
.newsShortDes {
    line-height: 25px;
    word-spacing: 3px;
}
.box-bottom {
    width: 100%;
    float: left;
    height: 100%;
    margin-top: 10px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
}
.box_height {
    padding: 5px;
    min-height: 320px;
}
.newsShortDes-2 {
    margin-top: 10px;
    line-height: 20px;
    word-spacing: 3px; 
}
.mid_box_row {
    margin-top: 20px;
}

.row_content {
    overflow: hidden;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.row_content img {
    width: 55px;
}
.row_content p {
    text-align: left;
}
.lead_N_content {
    min-height: 500px;
}
.lead_N_title {
    margin: 15px 0px;       

}
.lead_N_title a {
    color: #ff0000;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
    text-align: left;
}
.mid_news_title {
    margin: 0px 0px 20px 0px;       

}
.mid_news_title a {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}
.mid_news_title a:hover {
    color: #ff0000;
    text-decoration: none;
}
.mid_news_title p {
    margin-top: 10px;
}
.N_img_shadow {
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.61);
-moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.61);
box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.61);
}

/* tab customaize css */	

/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;    
}
.nav-tabs > li > a {
    background: #CDCBCB;
    color: #000;
    border-radius: 0;
    /*box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);*/
    padding: 5px;
    margin-left: 5px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #ECE9DD;
    color: #3399ff;
    /*box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);*/
    margin-left: 0px;
    overflow: hidden;
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    /*box-shadow: 0 0 4px rgba(0,0,0,.4);*/
    border-radius: 0;
    text-align: left;
    padding: 10px 10px 10px 5px;
}
.tab_news_title a {
    color: #000000;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
}
.tab_news_title a:hover {
    color: #ff0000;
    text-decoration: none;
}
/*.panel-default > .panel-heading {
    border-top: 2px solid #009999;       
}
.panel_custom_heading {
    height: 200px;
    background: #e18719;
}*/
.panel {
    border: 0px;
}

.panel > .panel-heading {
    background: #ece9dd none repeat scroll 0 0;
    border-top: 1px solid #028482;
    box-shadow: 0 3px 3px -1px #ccc;
    -webkit-box-shadow: 0 3px 3px -1px #ccc;
    -moz-box-shadow: 0 3px 3px -1px #ccc;
    color: #000;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 5px 10px;

}
.panel > .panel-body {
    background: #FAF9F9 none repeat scroll 0 0;
    border-bottom: 0px;
    padding-top: 0px;
}
.box_featured_news_title {
    margin: 0px;
    padding: 0px;
}
.box_featured_news_title a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}
.box_featured_news_title a:hover {
    color: #ff0000;
    text-decoration: none;
}
.box_featured_news_title p {
    margin-top: 10px;
}
.box_all_headings {
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.box_all_headings img {
    width: 80px;
    height: 60px;
}
.headings_title a {
    color: #333;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.headings_title a:hover {
    color: #ff0000;
    text-decoration: none;
}
.box_featured_news_title > ul > li > a {
    list-style: none;
    color: red;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
.category_all_heading ul {
    margin: 20px 0px 20px 20px;    
}
.category_all_heading ul li {
    margin-top: 10px;
}
.category_all_heading ul li a {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    font-weight: normal;
}
.survay_heading {
    margin-top: 25px;
}
.survay_heading a {
    font-size: 14px;
    font-weight: bold;
    color: #202d52;
}
.survay_heading a:hover {
    text-decoration: none;
    color: #FF0000;
}

.survay_content {
    margin-top: 15px;
}
.survay_content a {
    color: #000;
    line-height: 1.5em;
}
.survay_content a:hover {
    color: #FF0000;
    text-decoration: none;
}
.top_mar_align {
    margin-top: 20px;
}
.add_full_width {
    margin: 0px 0px 20px 0px;
    overflow: hidden;
}
.full_width {
    width: 100%;
}
.footer {
    margin-top: 20px;
    background: rgba(225,135,25,1);
    background: -moz-linear-gradient(top, rgba(225,135,25,1) 0%, rgba(250,249,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(225,135,25,1)), color-stop(100%, rgba(250,249,249,1)));
    background: -webkit-linear-gradient(top, rgba(225,135,25,1) 0%, rgba(250,249,249,1) 100%);
    background: -o-linear-gradient(top, rgba(225,135,25,1) 0%, rgba(250,249,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(225,135,25,1) 0%, rgba(250,249,249,1) 100%);
    background: linear-gradient(to bottom, rgba(225,135,25,1) 0%, rgba(250,249,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e18719', endColorstr='#faf9f9', GradientType=0 );
    min-height: 300px;
    /*background-image: url(../images/footer_bg.jpg);*/

}
.footer_content {
    padding: 10px 0px;
    height: 280px;
}
.footer_content h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.logo_sis_con ul {
    padding: 0px;
    margin: 0px;
}
.logo_sis_con ul li {
    margin-top: 10px;
}
.logo_sis_con ul li img {
    width: 100px;
    height: 60px;
}
.info_title {
    font-weight: bold;
}
.caption {
    position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
.form-group > label > span {
    color: red;
}
.content_title {
    width: 100%;
    color: green;
    font-size: 22px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.breadcrumb_unit {
    margin: 15px 0px;
}
.bottom-space {
    margin-bottom: 40px;
}

.inner_lead_N_title a {
    color: #ff0000;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 5px;
    text-align: left;
}
.inner_lead_N_title p {
    margin-top: 15px;
    line-height: 25px;
}
.cat_news_row_align {
    overflow: hidden;
    margin-bottom: 5px;
    height: 250px;
}
.sort_text_style {
    overflow: hidden;
    line-height: 22px;
}
.title_details {
    color: #000000;
    font-family: SolaimanLipi;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
}
.height_space {
    width: 100%;
    height: 15px;
    border-top: 3px solid #ccc;
    border-top-style: dotted;
}
.news_content_elements {
    
}
.text_dsn {
    line-height: 25px;
}
.pre_next_block {
    width: 100%;
    display: block;
    background: #eee;
    padding: 10px 10px;
    margin: 30px 0px;
}
.pre_next_block ul {padding-bottom: 10px;}
.pre_next_block ul li a {
    text-decoration: none;
    color: #000;
}
.pre_next_block ul li a:hover {
    text-decoration: none;
    color: #ff0000;
}



